#root,
button,
p, 
h2 {
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 color:rgb(51, 38, 23);
 background-color: rgba(227, 227, 227, 0.163);
}

.phonebookDiv {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  padding: 30px;
  font-size: 1.5rem;
  font-weight: 700;
  color: rgba(36, 34, 34, 0.711);
  background-color: bisque;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 20px #2b2b2b9f;
  gap: 2rem;
  width: 50%;
}

form input {
  width: 70%;
  margin-top: 1rem;
  padding-block: 15px;
  border: none;
  border-radius: 10px;
  padding-left: 10px;
}


form button {
  width: 50%;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: 600;
  color: rgba(36, 34, 34, 0.711);
  background-color: bisque;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 20px #2b2b2b9f;
 }
 
 form button:hover,
 form button:active,
 form button:focus {
  box-shadow: 0 0 20px #489b0cc6;
  background-color: rgba(86, 168, 58, 0.289);
 }